@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@layer base {
	@keyframes blink_input_opacity_to_prevent_scrolling_when_focus {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	:root {
		color-scheme: light;
	}
	* {
		@apply border-border outline-ring/50;
	}
	html,
	body,
	#root {
		height: 100lvh;
		min-height: 100lvh;
		margin: 0;
		overflow: hidden;
		overscroll-behavior: none;
	}
	@supports (-webkit-touch-callout: none) {
		html,
		body,
		#root {
			height: -webkit-fill-available;
			min-height: -webkit-fill-available;
		}

		[data-slot="input"]:focus,
		[data-slot="input-group-control"]:focus,
		[data-slot="textarea"]:focus {
			animation: blink_input_opacity_to_prevent_scrolling_when_focus 0.01s;
		}
	}
	body {
		box-sizing: border-box;
		height: 100lvh;
		@apply bg-background text-foreground;
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.2284 0.006 236.8208);
	--card: oklch(0.9911 0 0);
	--card-foreground: oklch(0.2284 0.006 236.8208);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.2284 0.006 236.8208);
	--primary: oklch(0.9082 0.2464 130.5418);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.9761 0 0);
	--secondary-foreground: oklch(0 0 0);
	--muted: oklch(0.9911 0 0);
	--muted-foreground: oklch(0.5194 0.0029 228.8243);
	--accent: oklch(0.9761 0 0);
	--accent-foreground: oklch(0 0 0);
	--destructive: oklch(0.663 0.2263 16.6386);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.9566 0.0021 197.121);
	--input: oklch(0.9566 0.0021 197.121);
	--ring: oklch(0.9082 0.2464 130.5418);
	--chart-1: oklch(0.7168 0.1271 240.4823);
	--chart-2: oklch(0.871 0.0884 218.8025);
	--chart-3: oklch(0.9637 0.0338 208.0079);
	--chart-4: oklch(0.4936 0.0801 236.5263);
	--chart-5: oklch(0.9245 0.0625 211.2792);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.3345 0.053 239.7405);
	--sidebar-primary: oklch(0.7168 0.1271 240.4823);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.9874 0.0075 228.8501);
	--sidebar-accent-foreground: oklch(0.7168 0.1271 240.4823);
	--sidebar-border: oklch(0.9566 0.0021 197.121);
	--sidebar-ring: oklch(0.7168 0.1271 240.4823);
	--font-sans: "Geist Variable", ui-sans-serif, sans-serif, system-ui;
	--font-serif: "Geist Variable", ui-sans-serif, sans-serif, system-ui;
	--font-mono: "Geist Mono Variable", ui-monospace, monospace, system-ui;
	--radius: 0.75rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 15px;
	--shadow-spread: 0px;
	--shadow-opacity: 0;
	--shadow-color: #000000;
	--shadow-2xs: 0px 4px 15px 0px hsl(0 0% 0% / 0);
	--shadow-xs: 0px 4px 15px 0px hsl(0 0% 0% / 0);
	--shadow-sm:
		0px 4px 15px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow:
		0px 4px 15px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow-md:
		0px 4px 15px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
	--shadow-lg:
		0px 4px 15px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
	--shadow-xl:
		0px 4px 15px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
	--shadow-2xl: 0px 4px 15px 0px hsl(0 0% 0% / 0);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.1974 0.0121 277.7777);
	--foreground: oklch(1 0 0);
	--card: oklch(0.228 0.0117 277.9524);
	--card-foreground: oklch(1 0 0);
	--popover: oklch(0.228 0.0117 277.9524);
	--popover-foreground: oklch(1 0 0);
	--primary: oklch(0.9082 0.2464 130.5418);
	--primary-foreground: oklch(0 0 0);
	--secondary: oklch(0.2742 0.0111 278.1296);
	--secondary-foreground: oklch(1 0 0);
	--muted: oklch(0.228 0.0117 277.9524);
	--muted-foreground: oklch(0.7156 0.0072 233.6862);
	--accent: oklch(0.2742 0.0111 278.1296);
	--accent-foreground: oklch(1 0 0);
	--destructive: oklch(0.663 0.2263 16.6386);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.3657 0.0138 256.7667);
	--input: oklch(0.3657 0.0138 256.7667);
	--ring: oklch(0.9082 0.2464 130.5418);
	--chart-1: oklch(0.8781 0.2185 154.6688);
	--chart-2: oklch(0.7935 0.1973 154.7048);
	--chart-3: oklch(0.7068 0.1746 155.0263);
	--chart-4: oklch(0.6171 0.1521 155.1438);
	--chart-5: oklch(0.5243 0.1278 155.7295);
	--sidebar: oklch(0.228 0.0117 277.9524);
	--sidebar-foreground: oklch(1 0 0);
	--sidebar-primary: oklch(0.2742 0.0111 278.1296);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.2742 0.0111 278.1296);
	--sidebar-accent-foreground: oklch(1 0 0);
	--sidebar-border: oklch(0.3657 0.0138 256.7667);
	--sidebar-ring: oklch(0.9911 0 0);
	--font-sans: "Geist Variable", ui-sans-serif, sans-serif, system-ui;
	--font-serif: "Geist Variable", ui-sans-serif, sans-serif, system-ui;
	--font-mono: "Geist Mono Variable", ui-monospace, monospace, system-ui;
	--radius: 0.75rem;
	--shadow-x: 0px;
	--shadow-y: 0px;
	--shadow-blur: 30px;
	--shadow-spread: -10px;
	--shadow-opacity: 0;
	--shadow-color: #303030;
	--shadow-2xs: 0px 0px 30px -10px hsl(0 0% 18.8235% / 0);
	--shadow-xs: 0px 0px 30px -10px hsl(0 0% 18.8235% / 0);
	--shadow-sm:
		0px 0px 30px -10px hsl(0 0% 18.8235% / 0),
		0px 1px 2px -11px hsl(0 0% 18.8235% / 0);
	--shadow:
		0px 0px 30px -10px hsl(0 0% 18.8235% / 0),
		0px 1px 2px -11px hsl(0 0% 18.8235% / 0);
	--shadow-md:
		0px 0px 30px -10px hsl(0 0% 18.8235% / 0),
		0px 2px 4px -11px hsl(0 0% 18.8235% / 0);
	--shadow-lg:
		0px 0px 30px -10px hsl(0 0% 18.8235% / 0),
		0px 4px 6px -11px hsl(0 0% 18.8235% / 0);
	--shadow-xl:
		0px 0px 30px -10px hsl(0 0% 18.8235% / 0),
		0px 8px 10px -11px hsl(0 0% 18.8235% / 0);
	--shadow-2xl: 0px 0px 30px -10px hsl(0 0% 18.8235% / 0);
}
